POSTGRES_PORT=5434
KAFKA_PORT=9092
SPRING_KAFKA_BOOTSTRAP_SERVERS="localhost:${KAFKA_PORT}"
SPRING_DATASOURCE_URL="jdbc:postgresql://localhost:${POSTGRES_PORT}/volunteer_service"
POSTGRES_USER=volunteer_service
POSTGRES_PASSWORD=volunteer_service
